body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/546/423/original/vector-seamless-repeating-background.jpg');
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
  } 
 
header
  {
    background-color: tan;

    color: white;

    height: 70px;

    padding: 10px;
  }  
footer {
  background-color: lavenderblush;

  color: chocolate;

  height: 40px;

  padding: 7px;
  text-align: center;
}
.mainpage 
    {
     width: 1024px; 
  
      margin: 0 auto;
    }
.headname1{
    color: rgb(247, 234, 119);
  }
 
.headname2{
    color: rgb(58, 58, 118);
}